{% extends 'ads/Base.html' %}
{% load static %}

{% block title %}
{{ post.header|truncatewords:2 }}
{% endblock title %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'news/assets/img/post-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.header }}</h1>
                            <span class="meta">
                                <h5>Дата публикации {{ post.time|date:'D d.m.y H:i'}}</h5>
                                <h5>Автор: {{ post.author.username }}</h5>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ post.content|safe }}
                    </div>
                </div>
            </div>
        </article>

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h5>Оставьте свой отклик</h5>
                    <form action="{% url 'add_comment' post.id %}" method="post">
                        {{form}}
                        {% csrf_token %}
                        <input type="submit" value="отправить"/>
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}