{% extends 'news/Base.html' %}
{% load static %}
{% block title %}

{% endblock title %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'news/assets/img/about-bg.jpg' %}">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Поиск новостей</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <form method="GET">
                        <div class="post-preview">
                        <h5 class="post-subtitle">{{ filter.form }} <input type="submit" value="Найти"></h5>
                        </div>
                    </form>
                </div>
            </div>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in filter.qs %}
                    <div class="post-preview">
                        <a href="{% url 'detail' post.id %}">
                            <h2 class="post-title">{{ post.header }}</h2>
                            <h3 class="post-subtitle">{{ post.text|truncatewords:20|censor }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            {{ post.time|date:'d.m.y' }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                </div>
            </div>
        </div>
        </main>
{% endblock content %}